@charset "shift_jis";
/* ------------------------------------------------------
スーパービバホーム用CSS
------------------------------------------------------- */
body#shop-detail div#other-area-all {
 font-size:80%;
}
/* トップページ */
body#shop-detail div#other-area-all h1{
	padding:8px;
	background-image: none;
	color: #FFFFFF;
	font-weight: bold;
}
body#shop-detail div#other-area-all h1.vh{
	background-color: #FF0002;
}
body#shop-detail div#other-area-all h1.svh{
	background-color: #FF9933;
}
body#shop-detail div#other-area-all h1.rd{
	background-color: #0B145A;
}
body#shop-detail div#other-area-all h1 span#title{
	display: block;
	float: left;
	width: 450px;
	font-size: 160%;
	line-height: 110%;
}
body#shop-detail div#other-area-all h1 span#comment{
	display: block;
	float: right;
	width: 300px;
	text-align: right;
	line-height: 110%;
	padding-top: 0.5em;
}

/* 分割 */
body#shop-detail div#other-area-all div.main-area{
	width:780px;
	margin:0 0 10px 20px;
	background-image: url(../images/shop_bg02.gif);
	background-repeat: repeat-y;
}
body#shop-detail div#other-area-all div.main-area div.contents-area{
 float:left;
	width:580px;
}
body#shop-detail div#other-area-all div.main-area div.navi-area{
 float:right;
	width:170px;
}

/* 左側 */
body#shop-detail div#other-area-all div.main-area div.contents-area h2 {
	width:591px;
	background-image: none;
	padding-left:0px;
	margin: 10px 0 10px 0;
}

body#shop-detail div#other-area-all div.main-area div.contents-area h2 span.top{
	background-image: url(../images/h3_bg01.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height:7px;
	display:block;
}
body#shop-detail div#other-area-all div.main-area div.contents-area h2 span.bottom{
	background-image: url(../images/h3_bg03.gif);
	background-repeat: no-repeat;
	height:7px;
	display:block;
	margin-top:-1px;
}
body#shop-detail div#other-area-all div.main-area div.contents-area h2 span.naka{
 margin-top:0;/* WinIE調整 */
 /* MacIE begin \*/
 _margin-top:-0.7em;/* WinIE調整 */
/* MacIE end */

	background-image: url(../images/h3_bg02.gif);
	background-repeat: repeat-y;
	display:block;
	font-weight:bold;
 padding:0 5px 2px 10px;
	_padding:0 5px 0 10px;/* WinIE調整 */
}

body#shop-detail div#other-area-all div.main-area div.contents-area dl.event{
	background-image: url(../images/shop_ic02.gif);
	background-repeat: no-repeat;
	padding:0 0 0 70px;
}
body#shop-detail div#other-area-all div.main-area div.contents-area dl.info{
	background-image: url(../images/shop_ic03.gif);
	background-repeat: no-repeat;
	padding:0 0 0 70px;
}
body#shop-detail div#other-area-all div.main-area div.contents-area dl.none{
	padding:0 0 0 70px;
}
body#shop-detail div#other-area-all div.main-area div.contents-area dl.event dt,
body#shop-detail div#other-area-all div.main-area div.contents-area dl.info dt,
body#shop-detail div#other-area-all div.main-area div.contents-area dl.none dt{
 color:#EB5C02;
	font-weight:bold;
	font-size:110%;
	line-height:125%;
}
body#shop-detail div#other-area-all div.main-area div.contents-area dl.event dd p,
body#shop-detail div#other-area-all div.main-area div.contents-area dl.info dd p,
body#shop-detail div#other-area-all div.main-area div.contents-area dl.none dd p{
	line-height:125%;
	color:#666666;
}
body#shop-detail div#other-area-all div.main-area div.contents-area dl.event dd span,
body#shop-detail div#other-area-all div.main-area div.contents-area dl.info dd span,
body#shop-detail div#other-area-all div.main-area div.contents-area dl.none dd span{
 color:#663333;
	font-weight:bold;
	display: block;
}
body#shop-detail div#other-area-all div.main-area div.contents-area dl.event dd p.date,
body#shop-detail div#other-area-all div.main-area div.contents-area dl.info dd p.date,
body#shop-detail div#other-area-all div.main-area div.contents-area dl.none dd p.date{
 text-align:right;
	font-size:80%;
}

body#shop-detail div#other-area-all div.main-area div.contents-area div.pagetop{
	background-image: url(../images/shop_bg01.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	margin:18px 0 0 0;
	padding:12px 0;
	text-align:right;
	font-size:80%;
}


/* 右側 */
body#shop-detail div#other-area-all div.main-area div.navi-area p.r-navi-logo {
  margin-top: 10px;
	text-align: center;
}
body#shop-detail div#other-area-all div.main-area div.navi-area p {
 margin:0 0 10px 0;
}
body#shop-detail div#other-area-all div.main-area div.navi-area div.databox {
 margin:0 0 7px 0;
	font-size:80%;
	padding:0 0 10px 0;
	border-bottom:2px solid #cccccc;
}
body#shop-detail div#other-area-all div.main-area div.navi-area div.databox p{
 font-weight:bold;
	color:#666666;
}
body#shop-detail div#other-area-all div.main-area div.navi-area div.databox dl dt{
 line-height:150%;
}
body#shop-detail div#other-area-all div.main-area div.navi-area div.databox dl dd{
	color:#996633;
	line-height:150%;
}

body#shop-detail div#other-area-all div.main-area div.navi-area div.box {
	border-bottom:2px solid #cccccc;
	margin:0 0 7px 0;
}
body#shop-detail div#other-area-all div.main-area div.navi-area div.box p{
 margin:0 0 7px 0;
}
body#shop-detail div#other-area-all div.main-area div.navi-area div.box p a.link,
body#shop-detail div#other-area-all div.main-area div.sub-section p a.link{
	background-image: url(../images/shop_arrow02.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding:0 0 0 15px;
	font-weight:bold;
	display:block;
}
body#shop-detail div#other-area-all div.box p.center{
	text-align:center;
}


body#shop-detail div#other-area-all div.main-area div.navi-area div.box div.service{
 margin:10px 0 0 0;
}
/* begin clearfix */

body#shop-detail div#other-area-all div.main-area div.navi-area div.box div.service ul:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

body#shop-detail div#other-area-all div.main-area div.navi-area div.box div.service ul {display: inline-table;}

/* Hides from IE-mac \*/
* html body#shop-detail div#other-area-all div.main-area div.navi-area div.box div.service ul {height: 1%;}
body#shop-detail div#other-area-all div.main-area div.navi-area div.box div.service ul {display: block;}
/* End hide from IE-mac */

/* end clearfix */
body#shop-detail div#other-area-all div.main-area div.navi-area div.box div.service ul li{
 float:left;
	margin:0 1px 1px 1px;
}
body#shop-detail div#other-area-all div.main-area div.navi-area div.box div.service p{
 margin:5px 2px 5px 0;
}
body#shop-detail div#other-area-all div.main-area div.navi-area div.box div.service p a{
	background-image: url(../images/shop_arrow01.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding:0 0 0 12px;
	font-size:80%;
}

/* VH用中見出し */
body#shop-detail div#other-area-all div.main-area h3 {
 width:591px;
	margin-bottom: 15px;
}

body#shop-detail div#other-area-all div.main-area h3 span.top {
	background-image: url(../images/h3_bg01.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height:7px;
	display:block;
}
body#shop-detail div#other-area-all div.main-area h3 span.bottom {
	background-image: url(../images/h3_bg03.gif);
	background-repeat: no-repeat;
	height:7px;
	display:block;
	margin-top:-1px;
}
body#shop-detail div#other-area-all div.main-area h3 span.naka {
 margin-top:0;/* WinIE調整 */
 /* MacIE begin \*/
 _margin-top:-0.7em;/* WinIE調整 */
/* MacIE end */

	background-image: url(../images/h3_bg02.gif);
	background-repeat: repeat-y;
	display:block;
	font-weight:bold;
 padding:0 5px 2px 10px;
	_padding:0 5px 0 10px;/* WinIE調整 */
}
body#shop-detail div#other-area-all div.main-area h4{
	font-weight:bold;
	color:#EB5C02;
	margin-bottom:5px;
}



body#shop-detail div#other-area-all div.main-area div#allTopics {
	width:560px;
	height:200px;
	overflow: scroll;
	border: 1px solid #CCCCCC;
	padding: 5px;
	margin: 0 0 10px 10px;
}

/* ページ送り */
body#shop-detail div#other-area-all div.main-area table.pageNavi {
  margin-top: 30px;
	width:99%;
}
body#shop-detail div#other-area-all div.main-area table.pageNavi .prev {
	text-align: left;
	width:33%;
}
body#shop-detail div#other-area-all div.main-area table.pageNavi .now {
	text-align: center;
	width:33%;
}
body#shop-detail div#other-area-all div.main-area table.pageNavi .next {
	text-align: right;
	width:33%;
}

/* RSS */
body#shop-detail div#other-area-all div#syndicate {
	display: none;
}

/* 中コンテンツ */
body#shop-detail div#other-area-all div.sub-section{
	width:550px;
	margin:10px 0 10px 20px;
}

body#shop-detail div#other-area-all div.sub-section p{
	padding:5px 0;
}
body#shop-detail div#other-area-all div.sub-section p.center{
	text-align:center;
}
body#shop-detail div#other-area-all div.sub-section p img{
	margin:5px 0 20px 20px;
}
body#shop-detail div#other-area-all div.sub-section p img.banner{
	margin:5px 0;
}
body#shop-detail div#other-area-all div.sub-section .notes{ /* 米印 */
	font-size:80%;
}


/* テーブル */
body#shop-detail div#other-area-all table.type01 {
 border-collapse:collapse;
	width:100%;
	margin-bottom:15px;
	vertical-align:top;
}
body#shop-detail div#other-area-all table.type01 caption{
 font-size:80%;
	text-align:right;
	padding-bottom:5px;
}
body#shop-detail div#other-area-all table.type01 th{
	padding:5px;
	font-weight:normal;
	text-align:left;
	background-color: #E1E1E1;
	border:1px solid #999999;
	vertical-align:top;
	line-height:125%;
}
body#shop-detail div#other-area-all table.type01 th.sub{
	background-color: #F0F0F0;
}
body#shop-detail div#other-area-all table.type01 td{
	padding:5px;
	background-color: #FFFFFF;
	border:1px solid #999999;
	line-height:125%;
	vertical-align:top;
}

/* テーブル（画像配置用） */
body#shop-detail div#other-area-all table.type02 {
 border-collapse:collapse;
	width:100%;
	margin-bottom:15px;
	vertical-align:top;
}
body#shop-detail div#other-area-all table.type02 th{
	padding:5px;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	line-height:125%;
}
body#shop-detail div#other-area-all table.type02 td{
	padding:5px;
	line-height:125%;
	vertical-align:top;
}
/* テーブル（画像配置用2） */
body#shop-detail div#other-area-all table.type03 {
 border-collapse:collapse;
	width:auto;
	margin-bottom:15px;
	vertical-align:top;
}
body#shop-detail div#other-area-all table.type03 th{
	padding:5px;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	line-height:125%;
}
body#shop-detail div#other-area-all table.type03 td{
	padding:5px;
	line-height:125%;
	vertical-align:top;
	height:auto;
}
body#shop-detail div#other-area-all table td.bottom{
	vertical-align:bottom;
}
/* リスト */
body#shop-detail div#other-area-all ul.dot li{
	list-style:none;
	margin:0 0 10px 18px;
}
