@charset "EUC-JP";

/* Header */
/* ----------------------------------------------------- */
#headerBox {
	margin:0 auto;
	width:780px;
	text-align: left;
}
#heUtilityBox {
	float:right;
	width:335px;
	text-align:right;
}
#heNav li {
	float:left;
}

/* Global Navi */
/* ----------------------------------------------------- */
#gNav {
	margin:0 0 15px;
	padding:0;
	text-align:left;
	width:760px;
	height:41px;
	clear:both;
}
#gNav:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#gNav li {
	list-style:none;
	float:left;
}
#gNav li a {
	background:left top no-repeat;
	text-align:left;
	text-indent:-9999px;
	height:41px;
	display:block;
}
#gNav li a:focus {
	outline:none;
}
#gNav li a.home {
	background:url(../../cmn/images/header_gnav_home.gif);
	width:127px;
}
#gNav li a.products {
	background:url(../../cmn/images/header_gnav_products.gif);
	width:127px;
}
#gNav li a.sumai {
	background:url(../../cmn/images/header_gnav_sumai.gif);
	width:127px;
}
#gNav li a.catalog {
	background:url(../../cmn/images/header_gnav_catalog.gif);
	width:127px;
}
#gNav li a.inquery {
	background:url(../../cmn/images/header_gnav_inquery.gif);
	width:127px;
}
#gNav li a.company {
	background:url(../../cmn/images/header_gnav_company.gif);
	width:124px;
}
#gNav li a:hover {
	background-position:0 -41px;
}
#home #gNav li a.home,
#products #gNav li a.products,
#sumai #gNav li a.sumai,
#catalog #gNav li a.catalog,
#inquery #gNav li a.inquery,
#company #gNav li a.company {
	background-position:0 -82px;
}
#home #gNav li a.home:hover,
#products #gNav li a.products:hover,
#sumai #gNav li a.sumai:hover,
#catalog #gNav li a.catalog:hover,
#inquery #gNav li a.inquery:hover,
#company #gNav li a.company:hover {
	background-position:0 -82px;
}

/* Footer */
/* ----------------------------------------------------- */
/* Bases */
#footer {
	border-top:1px solid #d2d5d8;
	margin:30px 0 0;
	padding:17px 0 18px;
	text-align:left;
	width:760px;
	clear:both;
}
#footer .footer_link {
	margin:0;
	width:530px;
	float:left;
}
.footer_link ul {
	margin:0;
	list-style:none;
}
.footer_link li {
	margin:0 0 0 5px;
	float:left;
	font-size:83%;
	color:#e4e4e4;
	vertical-align:middle;
}
.footer_link li img {
	vertical-align:middle;
}

/* Copyright */
#footer .footer_copyright {
	margin:0;
	width:230px;
	float:right;
}

