@charset "shift_jis";

/* ------------------------------------------------------
フッター用CSS
------------------------------------------------------- */


/* ---------- フッタ ---------- */
div#footer{
	/* [2008renewal] */
	margin:0px 3px;
	/* width: 800px; */
	background-color: #FFFFFF;
	clear: both;
}

/* ---------- ページの上部へ ---------- */
div#footer #pageup {
	padding:10px 0 15px 25px;
	/* [2008renewal] */
	width:783px;
	margin-left:101px;
	background-image: url(../img2008/page_bg02.gif);
	/* background-image: url(../images/page_bg02.gif); */
	background-repeat: repeat-y;
}
div#footer #pageup a{
	background-image: url(../images/arrow_03.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left:10px;
	font-size:70%;
}
/* [2008renewal] */
div#footer #pageup p {
	text-align:right;
}
/* */

/* r_and_d専用（青ナビ） */
body#rd div#footer #pageup {
	padding:10px 0 15px 25px;
	/* [2008renewal] */
	background-image: url(../img2008/page_bg03.gif);
	/* background-image: url(../images/page_bg03.gif); */
	background-repeat: repeat-y;
}
body#rd div#footer #pageup a{
	background-image: url(../images/arrow_04.gif);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left:10px;
	font-size:70%;
}

body#rd #pageup2 a{
	background-image: url(../images/arrow_04.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left:10px;
	font-size:80%;
	float:right;
}


/* ---------- ラインから下 ---------- */
div#footer #footer-area{
	/* [2008renewal] */
	margin:25px 0 7px 0;
	padding:15px 20px;
	border:1px solid #e8e8e8;
	/*
	border-top:2px solid #EB5B02;
	padding:7px 20px 20px 20px;
	_height: 1px;
	*+height: 1px;
	*/
}

/* フッタ左 */
div#footer #footer-area #footer-box {
	/* [2008renewal] */
	float:right;
	width:810px;
	/*
	float:left;
	width:640px;
	*/
}
div#footer #footer-area #footer-box ul{
	margin-left: 50px;
	margin-bottom: 10px;
	/* \*/
	float:clear;
	text-align:left;
	margin:0 0 3px 0;
	/* */
	/* [2008renewal] */
	padding-top:7px;
	/* */
}
div#footer #footer-area #footer-box ul li{
	display:inline;
	margin:0;
	padding: 0 10px 0 0;
	/* background: url(../images/foot_ic002.gif) repeat-y left; */
	text-align: left;
	font-size:70%;
	/* [2008renewal] */
	float:left;
	/* */
}
div#footer #footer-area #footer-box ul li a{
	margin:0;
	text-align: left;
	line-height:110%;
	/* [2008renewal] */
	padding: 3px 5px 0 12px;
	background: url(../img2008/footer_list_icon.gif) no-repeat left;
	/*
	display:inline;
	padding: 3px 5px 0 7px;
	background: url(../images/arrow_01.gif) no-repeat left;
	*/
}

/* [2008renewal]
div#footer #footer-area #footer-box ul li span.list-end{
	padding:0 5px 0 0;
	background: url(../images/foot_ic002.gif) repeat-y right top;
}
div#footer #footer-area #footer-box ul li.first-menu{
	background:none;
	padding:5px;
	margin:5px;
}
*/

/* [2008renewal] */
p#footer-copyright {font-size:60%; text-align:center; clear:both; color:#b2b2b2;}
/*
div#footer #footer-area #footer-box p#footer-copyright {
	margin:4px 0 0 0;
	text-align:left;
}
*/

/* フッタ右 */
div#footer #footer-area #footer-logo {
	/* [2008renewal] */
	float:left;
	display:block;
	/*
	float:right;
	text-align:right;
	*/
	width:90px;
}



