@charset "shift_jis";

/* ----------------------------------------------------------
	products.css
	
	style sheet for products category
---------------------------------------------------------- */

body#products h1.imageH1 {
	background: none;
}

/* /product/
--------------------------------------*/
/* productCol reset */
body#products .productCol h2 {
	padding: 0;
	background-color: transparent;
}
body#products .productCol h3 {
	padding: 0;
	background-color: transparent;
}
/* productCol base */
body#products .productCol {
	margin-right: 1px;
	border-bottom: 1px solid #dddddd;
	background: url(/products/pic/default_bg001.gif) repeat-y 0 0;
}
body#products .productCol .col {
	float: left;
	width: 315px;
	padding-left: 1px;
}
body#products .productCol.double {
	width: 633px;
	background: url(/products/pic/default_bg002.gif) repeat-y 0 0;
}
body#products .productCol.single {
	width: 317px;
	background: url(/products/pic/default_bg003.gif) repeat-y 0 0;
}
/* heading */
body#products .productCol h2 {
	padding: 0;
	border-bottom: 2px solid #dddddd;
}
body#products .productCol.first h2 {
	border-top: 1px solid #dddddd;
}
/* mainPhoto */
body#products .productCol .mainPhoto {
	padding: 11px 15px 15px;
}
/* productCol2 */
body#products .productCol2 {
	padding: 0 15px 15px;
}
body#products .productCol2 .colLeft,
body#products .productCol2 .colRight {
	float: left;
	width: 137px;
	margin: 0 10px 0 0;
	padding: 0;
}
body#products .productCol2 .colRight {
	margin: 0;
}
/* iconLink */
body#products .productCol ul.iconLinkList01 {
	margin: 5px 0 0;
}
body#products .productCol ul.iconLinkList01 li {
	padding: 0 0 4px 12px;
	background: url(/common/pic/com_ic001.gif) no-repeat 3px 0.13em;
	line-height: 1.2;
	font-size: 84%;
	zoom: 1;
}


body#products .anchorLink {
	background: none;
}
body#products .anchorLink ul {
	padding: 0 10px;
	background: none;
}

body#products h2 {
	padding-bottom: 0;
	padding: 5px 10px 5px 6px;
	border-bottom: none;
	background-color: #878787;
	color: #ffffff;
	font-size: 129%;
	font-weight: bold;
	line-height: 1.3;
}
body#products h2 span {
	display: block;
	margin: 0;
	padding-left: 18px;
	border-left: none;
	background: url(/products/pic/products_ic001.gif) no-repeat 0 0.55em;
}

body#products .productBox {
	padding: 15px;
	border: 1px solid #e3e3e3;
	border-top: none;
}
body#products .productBox .imgLeft {
	margin-right: 10px;
}
body#products .productBox .title {
	margin-top: 10px;
	padding-top: 10px;
	background: url(/common/pic/com_bg001.gif) repeat-x 0 0;
	zoom: 1;
}
body#products .productBox .title span {
	display: block;
	padding-left: 19px;
	background: url(/products/pic/products_ic001.gif) no-repeat 0 0.6em;
	zoom: 1;
}
body#products .productBox .brandLink {
	clear: both;
	margin-top: 12px;
}

body#products .iconLink02 {
	padding-left: 18px;
	background: url(/common/pic/com_ic006.gif) no-repeat 0 0.3em;
	zoom: 1;
}
body#products .productBox .brandLink .iconLinkList01 {
	padding-left: 18px;
}


body#products .colText01.w318 {
	float: left;
	width: 318px;
}


/* clearfix
------------------------------------------ */
body#products .productBox:after,
body#products .productBox .brandLink:after,
body#products .productCol:after,
body#products .productCol2:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
body#products .productBox,
body#products .productBox .brandLink,
body#products .productCol,
body#products .productCol2 {
	zoom: 1;
}