@charset "shift_jis";
/* CSS Document */

.lxl-mainWrap{
	background-color:#fff;
	height:357px;
	margin-bottom:30px;
}

.lxl-mainWrap .r-img{
	float:right;
	height:357px;
}

.lxl-mainWrap .l-linkbox{
	float:left;
	width:322px;
	height:295px;
	background-color:#fff;
	padding-top:62px;
}

.lxl-mainWrap .l-linkbox .inner{
	width:216px;
	margin:0 auto;
	text-align:center;
}

.lxl-mainWrap .l-linkbox .title{
	font-size:24px;
	color:#666;
	padding-bottom:36px;
	border-bottom:1px solid #d0d0d0;
}

.lxl-mainWrap .l-linkbox .lxl-links li a{
	display:block;
	padding:14px 0;
	font-size:14px;
	line-height:1;
	text-decoration:none;
	color:#464646;
	border-bottom:1px solid #d0d0d0;
}

.lxl-mainWrap .l-linkbox .lxl-links li a:hover{
	color:#ef7a00;
}

.lxl-mainWrap .link-global{
	margin-top:30px;
}

.lxl-mainWrap .link-global a{
	display:inline-block;
	text-align:left;
}


.box-h3{
	position:relative;
}

.section.icon-link ul.link-toppage{
	position:absolute;
	right:0;
	bottom:8px;
}
.section.icon-link ul.link-toppage li {
	float:none !important;
	width:auto;
	margin-bottom:0;
    background: url(/common/pic/icon_link.gif) no-repeat 0 5px;
    padding-left: 0 !important;
    list-style-type: none;
		display:inline-block;
		padding:0 8px 0 0;
}

.box-h3 .link-toppage a{
	display:inline-block;
	padding: 0 0 0 20px;
}

.section.icon-link ul li {
	width:242px;
}

.box-col2{
	width:393px;
}

.section.icon-link .box-col2 ul.l-links{
	width:50%;
}

.section.icon-link .box-col2 ul.l-links li{
	width:152px;
}

#contents .box-narration {
	margin-top:30px;
	padding:30px 0 30px 25%;
	background:url(/corporate/brand/pic/bg_narration.png) center no-repeat;
	color:#120605;
}
#contents .box-narration p{
	padding-left:70px;
}
.section .lxl-move-center {
	width: 100%;
	height:100%;
	margin:0px auto;
	text-align:center;
}
.lxl-move-center iframe{
	width:100%;
}

@media screen and (max-width: 768px) {
	.lxl-move-center iframe{
		width:100%;
		height:300px;
	}
	#contents .box-narration {
		width:100%;
		padding:30px 0px;
		background:url(/corporate/brand/pic/bg_narration.png) center no-repeat;
	}
	#contents .box-narration p{
		padding:0 10%;
	}

}

.lxl-move-center .clsC02,
.lxl-move-center .col2 {
	padding: 0 !important;
}
.section .image {
	text-align:center;
}

/* 2020.05.18 add */

/* moviebox 2col */
#contents .lxl-move-halfcont p.lxl-move-halfbox_text{
	text-align: center;
}
@media screen and (min-width: 769px) {
	.lxl-move-halfcont{
		display: flex;
		justify-content: space-between;
	}
	.lxl-move-halfcont .lxl-move-halfbox{
		width: 48%;
		margin-bottom: 3vw;
	}
	.lxl-move-halfcont .lxl-move-halfbox iframe{
		width:100%;
		height: 340px;
	}
	#contents .lxl-move-halfcont p.lxl-move-halfbox_text{
		margin-top: 1.47vw;
		font-size: 18px;
	}
}
@media screen and (max-width: 768px) {
	.lxl-move-halfcont .lxl-move-halfbox{
		margin-bottom: 7vw;
	}
	.lxl-move-halfcont .lxl-move-halfbox:last-child{
		margin-bottom: 0;
	}
	.lxl-move-halfcont iframe{
		width:100%;
		height:300px;
	}
}
/* bannersection */
@media screen and (max-width: 768px) {
	.thirdTop #contents .section.sec-SPfullsize{
		width:100%;
	}
}
@media screen and (min-width: 769px) {
	.section .image.halfsize img{
		width: 750px;
		height: auto;
	}
}
