@charset "UTF-8";

/* container */
#container{
	width:560px;
	padding-bottom:178px;
}
.content-col-2 #container{
	width:560px;
}
.section{
	margin-top:100px;
}
.section .innerText{
	padding-left:35px;
}
#contents .col2,
#contents .col3,
#contents .col4,
#contents .col6{
	margin-top:60px;
}
#contents p + .col2,
#contents p + .col3,
#contents p + .col4,
#contents p + .col6{
	margin-top:20px !important;
}
#contents .col2 .col{
	margin-top:60px;
}
#contents .col2 .col:nth-child(2){
	margin-top:60px;
}
#contents .col3 .col,
#contents .col4 .col,
#contents .col6 .col{
	margin-right:40px;
	margin-top:60px;
}
#contents .col3 .col{
	width:260px;
}
#contents .col2 li.col,
#contents .col3 li.col,
#contents .col4 li.col,
#contents .col6 li.col{
	font-size:28px;
	line-height:43px;
	margin-top:20px;
}
#contents .col3 .col:nth-child(3){
	margin-top:60px;
}
#contents .col3 .col:nth-child(2){
	margin-right:0px;
}
#contents .spLarge .col,
#contents .col3In02 .col{
	width:100%;
	margin-right:0px;
}
#contents .spLarge .col:nth-child(2),
#contents .col3In02 .col:nth-child(2){
	margin-top:60px;
}
#contents .col3 .colTwo{
	width:100%;
	margin-right:0px;
}
#contents .col3In02 .cbImg + .colTwo{
	margin-top:20px;
}
#contents .col3In02 .colTwo + .cbImg{
	margin-top:20px;
}
#contents .col4 .col{
	width:260px;
}
#contents .col4In02 .col{
	width:100%;
	margin-right:0px;
}
#contents .col4 .col:nth-child(2n){
	margin-right:0px;
}
#contents .col4 .col:nth-child(3),
#contents .col4 .col:nth-child(4){
	margin-top:60px;
}
#contents .spLarge .col,
#contents .col4 .colTwo{
	width:100% !important;
	margin-right:0px !important;
}
#contents .spLarge .col:nth-child(2),
#contents .spLarge .col:nth-child(3),
#contents .spLarge .col:nth-child(4),
#contents .col4In03 .colTwo + .col,
#contents .col4In03 .col:nth-child(2) + .colTwo{
	margin-top:60px;
}
#contents .col4In02 .col:nth-child(2){
	margin-top:20px;
}
#contents .col4In03 .colTwo + .col{
	margin-right:40px;
}
#contents .col6 .col{
	width:259.9px;
}
#contents .col6 .col:nth-child(2n){
	margin-right:0px;
}
#contents .col6 .col:nth-child(3),
#contents .col6 .col:nth-child(4),
#contents .col6 .col:nth-child(5),
#contents .col6 .col:nth-child(6){
	margin-top:60px;
}
#contents .col6In02 .col{
	width:100%;
}
#contents .col6In02 .col:nth-child(2){
	margin-top:20px;
}
#contents .col6 .colFive{
	width:100%;
	margin-right:0px;
}
#contents .col > *,
#contents .col > a > *,
#contents .col > a > .txt > *,
#contents .col > a > .cbTxt > *{
	margin-top:20px;
}

#contents h1{
	font-size:48px;
	line-height:64px;
}
#contents h1 + *{
	margin-top:40px;
}
#contents h2{
	font-size:44px;
	line-height:59px;
	margin-top:100px;
}
#contents h3{
	font-size:36px;
	line-height:48px;
	margin-top:60px;
}
#contents h4{
	font-size:30px;
	line-height:40px;
	margin-top:60px;
}
#contents h5{
	font-size:28px;
	line-height:37px;
	margin-top:20px;
}
#contents h2 + *{
	margin-top:20px;
}
#contents h2 + h3,
#contents h2 + h4{
	margin-top:40px;
}
#contents h3 + *{
	margin-top:20px;
}
#contents h3 + h4,
#contents h3 + h5{
	margin-top:30px;
}
#contents h4 + *{
	margin-top:20px;
}
#contents dt{
	font-size:36px;
	line-height:43px;
}
#contents dd{
	font-size:28px;
	line-height:43px;
}
#contents dt + dd{
	margin-top:20px;
}
#contents li > ul:first-child{
	margin-top:20px !important;
}
#contents p{
	font-size:28px;
	line-height:43px;
	margin-top:20px;
}
#contents .nvOtSns{
	height:38px;
}
#contents .nvOtSns p{
	margin:0px 50px 0px 0px;
	font-size:28px;
	line-height:28px;
}
#contents .nvOtSns .facebook{
	width:38px;
	height:38px;
	margin-right:54px;
}
#contents .nvOtSns .twitter{
	width:42px;
	height:38px;
	margin-right:51px;
}
#contents .nvOtSns .in{
	width:38px;
	height:38px;
}

#contents .tlH1 h1,
#contents h1.tlH1,
#contents .tlH1Add h1{
	padding-bottom:30px;
	background-size:110px 4px;
}
#contents .tlH1 + *,
#contents .tlH1Add + *{
	margin-top:40px !important;
}
#contents .tlH2Add{
	margin-top:100px;
}
#contents .tlH2Add h2{
	margin-right:0px;
}
#contents .tlH1Add .link{
	margin:20px 0px 0px;
}
#contents .tlH2Add .link{
	margin:20px 0px 0px;
}
#contents .tlH2Link a span{
	font-size:35px;
}
#contents .tlH2 + *,
#contents .tlH2Add + *,
#contents .tlH2Link + *,
#contents .tlH3 + *,
#contents .tlH4 + *,
#contents .tlH5 + *{
	margin-top:20px !important;
}
#contents .tlH2 + h3,
#contents .tlH2 + h4{
	margin-top:40px !important;
}
#contents .tlH3 + h4,
#contents .tlH3 + h5{
	margin-top:30px !important;
}
#contents .tlWrap{
	padding:8px 13px;
	font-size:36px !important;
	line-height:48px !important;
}
#contents .tlWrap span{
	font-size:28px;
	padding-top:5px;
	line-height:36px !important;
}
#contents .kv01InTl,
#contents .kv02{
	margin-top:40px;
}
#contents .kv01InTl{
	padding-top:110px;
}
#contents .kv01InTl + *,
#contents .kv02 + *{
	margin-top:60px !important;
}
#contents .kv01InTl .tlH1{
	max-width:390px;
	font-size:52px;
	line-height:52px;
	padding:8px 40px 16px 37px;
	background-size:26px 52px;
}
#contents .kv01InTl p{
	margin-top:20px !important;
	font-size:24px;
	line-height:32px;
}
#contents .hl01{
	font-size:32px !important;
	line-height:43px !important;
}
#contents ul.nvLnLink02,
#contents ul.nvLnLink03,
#contents ul.nvLnLink04,
#contents ul.nvLnLink06{
	margin-top:20px;
}
#contents ul.nvLnLink02 li.col,
#contents ul.nvLnLink03 li.col,
#contents ul.nvLnLink04 li.col,
#contents ul.nvLnLink06 li.col{
	font-size:28px;
	line-height:37px;
	margin-right:40px;
}
#contents ul.nvLnLink02 li.col{
	margin-right:40px;
	width:260px;
}
#contents ul.nvLnLink02 li.col:nth-child(2){
	margin-top:0px;
}
#contents ul.nvLnLink02 li.col:nth-child(2n){
	margin-right:0px;
}
#contents ul.nvLnLink02 li.col a,
#contents ul.nvLnLink03 li.col a,
#contents ul.nvLnLink04 li.col a,
#contents ul.nvLnLink06 li.col a{
	padding-right:26px;
	background-size:14px 8px;
}
#contents .nvOtPdf,
#contents .nvOtXls{
	margin-top:20px;
}
#contents .nvOtPdf .link a,
#contents .nvOtXls .link a{
	padding:4px 0px 0px 35px;
	background-size:26px 28px;
}
#contents .nvOtDay{
	font-size:28px;
	line-height:37px;
	margin-top:20px;
}
#contents .nvOtAlert{
	margin-top:20px;
	border:solid 2px #e75400;
	padding:30px;
}

/* CLS */
#contents .clsC02 .col h2,
#contents .clsC02 .col h3,
#contents .clsC03 .col h2,
#contents .clsC03 .col h3,
#contents .clsC04 .col h2,
#contents .clsC04 .col h3,
#contents .clsAtnC02 .col h2,
#contents .clsAtnC02 .col h3,
#contents .clsAtnC03 .col h2,
#contents .clsAtnC03 .col h3{
	font-size:30px;
	line-height:40px;
	margin-top:30px;
}
#contents .clsC02Txt .col h2,
#contents .clsC02Txt .col h3,
#contents .clsC03Txt .col h2,
#contents .clsC03Txt .col h3,
#contents .clsC04Txt .col h2,
#contents .clsC04Txt .col h3,
#contents .clsLnC02 .col h2,
#contents .clsLnC02 .col h3,
#contents .clsLnC03 .col h2,
#contents .clsLnC03 .col h3{
	font-size:30px;
	line-height:40px;
}
#contents .clsC02 .col h4,
#contents .clsC02 .col h5,
#contents .clsC03 .col h4,
#contents .clsC03 .col h5,
#contents .clsC04 .col h4,
#contents .clsC04 .col h5,
#contents .clsAtnC02 .col h4,
#contents .clsAtnC02 .col h5,
#contents .clsAtnC03 .col h4,
#contents .clsAtnC03 .col h5{
	font-size:28px;
	line-height:37px;
	margin-top:30px;
}
#contents .clsC02Txt .col h4,
#contents .clsC02Txt .col h5,
#contents .clsC03Txt .col h4,
#contents .clsC03Txt .col h5,
#contents .clsC04Txt .col h4,
#contents .clsC04Txt .col h5,
#contents .clsLnC02 .col h4,
#contents .clsLnC02 .col h5,
#contents .clsLnC03 .col h4,
#contents .clsLnC03 .col h5{
	font-size:28px;
	line-height:37px;
}
#contents .clsC02 h4 + p,
#contents .clsC02 h5 + p,
#contents .clsAtnC02 h4 + p,
#contents .clsAtnC02 h5 + p,
#contents .clsC02Txt h4 + p,
#contents .clsC02Txt h5 + p,
#contents .clsC03 h4 + p,
#contents .clsC03 h5 + p,
#contents .clsAtnC03 h4 + p,
#contents .clsAtnC03 h5 + p,
#contents .clsC03Txt h4 + p,
#contents .clsC03Txt h5 + p,
#contents .clsC04 h4 + p,
#contents .clsC04 h5 + p,
#contents .clsC04Txt h4 + p,
#contents .clsC04Txt h5 + p,
#contents .clsLnC02 h4 + p,
#contents .clsLnC02 h5 + p,
#contents .clsLnC03 h4 + p,
#contents .clsLnC03 h5 + p{
	font-size:24px;
	line-height:37px;
}
#contents .clsLnC03 .col{
	width:100%;
	margin-right:0px;
}
#contents .clsLnC03 .col:nth-child(2){
	margin-top:60px;
}
#contents .clsLnC02 .col a img{
	width:200px;
}
#contents .clsLnC02 .col a > .cbTxt{
	margin-left:230px;
}
#contents .clsLnC03 .col a img{
	width:200px;
}
#contents .clsLnC03 .col a > .cbTxt{
	margin-left:230px;
}

/* CL/CLN */
#contents .clC01,
#contents .cllC01,
#contents .clnC01{
	margin-top:60px;
}
#contents .clC01 > li,
#contents .clC02 > li.col,
#contents .clC03 > li.col,
#contents .clC03 > li.col:nth-child(3),
#contents .clC04 > li.col,
#contents .clC04 > li.col:nth-child(3),
#contents .clC04 > li.col:nth-child(4),
#contents .cllC01 > li,
#contents .cllC02 > li.col,
#contents .cllC03 > li.col,
#contents .cllC03 > li.col:nth-child(3),
#contents .cllC04 > li.col,
#contents .cllC04 > li.col:nth-child(3),
#contents .cllC04 > li.col:nth-child(4),
#contents .clnC01 > li,
#contents .clnC02 > li.col,
#contents .clnC03 > li.col,
#contents .clnC03 > li.col:nth-child(3),
#contents .clnC04 > li.col,
#contents .clnC04 > li.col:nth-child(3),
#contents .clnC04 > li.col:nth-child(4){
	font-size:28px;
	line-height:43px;
	margin-top:20px;
}
#contents .clC02 > li.col:nth-child(2),
#contents .cllC02 > li.col:nth-child(2),
#contents .clnC02 > li.col:nth-child(2){
	margin-top:0px;
}
#contents .clC01 > li,
#contents .clC02 > li.col,
#contents .clC03 > li.col,
#contents .clC04 > li.col,
#contents .cllC01 > li,
#contents .cllC02 > li.col,
#contents .cllC03 > li.col,
#contents .cllC04 > li.col{
	margin-left:31.5px;
}
#contents .clnC01 > li,
#contents .clnC02 > li.col,
#contents .clnC03 > li.col,
#contents .clnC04 > li.col{
	margin-left:53.33px;
}
#contents .clC02 > li.col,
#contents .clC03 > li.col,
#contents .clC04 > li.col,
#contents .cllC02 > li.col,
#contents .cllC03 > li.col,
#contents .cllC04 > li.col,
#contents .clnC02 > li.col,
#contents .clnC03 > li.col,
#contents .clnC04 > li.col{
	padding-bottom: 100px;
	margin-bottom: -100px;
	margin-right:40px;
}
#contents .clC02 > li.col,
#contents .cllC02 > li.col{
	width:228.5px;
}
#contents .clnC02 > li.col{
	width:206.7px;
}
#contents .clC03 > li.col:nth-child(2n),
#contents .cllC03 > li.col:nth-child(2n),
#contents .clnC03 > li.col:nth-child(2n){
	margin-right:0px;
}
#contents .clC03 > li.col:nth-child(3),
#contents .cllC03 > li.col:nth-child(3),
#contents .clnC03 > li.col:nth-child(3){
	margin-right:40px;
}
#contents .clC03 > li.col,
#contents .cllC03 > li.col{
	width:228.5px;
}
#contents .clnC03 > li.col{
	width:206.7px;
}
#contents .clC04 > li.col,
#contents .cllC04 > li.col{
	width:228.5px;
}
#contents .clnC04 > li.col{
	width:206.7px;
}
#contents .clC01 > li a + *,
#contents .clC02 > li a + *,
#contents .clC03 > li a + *,
#contents .clC04 > li a + *,
#contents .cllC01 > li a + *,
#contents .cllC02 > li a + *,
#contents .cllC03 > li a + *,
#contents .cllC04 > li a + *,
#contents .clnC01 > li a + *,
#contents .clnC02 > li a + *,
#contents .clnC03 > li a + *,
#contents .clnC04 > li a + *{
	margin-top:20px;
}
#contents .clC01 > li > ul,
#contents .cllC01 > li > ul,
#contents .clnC01 > li > ul{
	padding-left:0px;
}

/* CB */
#contents .cbTxt01{
	font-size:28px !important;
	line-height:43px !important;
}
#contents .cbTxt02{
	font-size:24px !important;
	line-height:37px !important;
}
#contents .cbNotes01{
	font-size:26px !important;
	line-height:36px !important;
}
#contents .cbNotes01 a{
	font-size:26px !important;
	line-height:36px !important;
}
#contents .cbNotes02{
	font-size:22px !important;
	line-height:30px !important;
}
#contents .cbNotes02 a{
	font-size:22px !important;
	line-height:30px !important;
}
#contents .cbImg{
	margin-top:40px;
}
#contents .cbImg img + p{
	font-size:28px;
	line-height:43px;
	margin-top:20px;
}
#contents .col6 .cbImg img + p{
	margin-top:20px;
}
#contents .cbImg img + h4 + *,
#contents .cbImg img + h5 + *{
	font-size:24px;
	line-height:37px;
	margin-top:20px;
}
#contents .col6 .cbImg img + h4 + *,
#contents .col6 .cbImg img + h5 + *{
	margin-top:20px;
}
#contents .cbInflatR,
#contents .cbInflatL{
	margin-top:60px !important;
}
#contents .cbInflatR .col,
#contents .cbInflatL .col{
	margin-bottom:20px;
	font-size:26px;
	line-height:36px;
}
#contents .cbInflatR .col{
	margin-left:0px !important;
}
#contents .cbInflatR .col img,
#contents .cbInflatL .col img{
	margin-bottom:10px;
}

/* CB-border-Img */
#contents p.cbImgBorder,
#contents div.cbImgBorder{
	padding:20px 0;
}
#contents .cbImgBorder{
	margin-top:40px;
}
#contents p + .cbImgBorder{
	margin-top:20px;
}
#contents img.cbImgBorder + p{
	margin-top:20px;
}
#contents .col6 img.cbImgBorder + p{
	margin-top:20px;
}

/* CB-DList/CB-Dlist-L */
#contents .cbDlistC01{
	margin-top:60px;
}
#contents .cbDlistC02 .col,
#contents .cbDlistC03 .col,
#contents .cbDlistImgC03 .col{
	margin-right:39.5px;
}
#contents .cbDlistImgC02 .col,
#contents .cbDlistLC02 .col,
#contents .cbDlistLC03 .col{
	margin-right:0px;
}
#contents .cbDlistC02 .col{
	width:260px;
}
#contents .cbDlistLC03 .col{
	width:100%;
}
#contents .cbDlistC02 .col:nth-child(2){
	margin-top:0px;
}
#contents .cbDlistLC03 .col:nth-child(2){
	margin-top:60px;
}
#contents .cbDlistImgC01 dl,
#contents .cbDlistImgC02 dl,
#contents .cbDlistImgC03 dl{
	margin-top:20px;
}
#contents .cbDlistLC02 .col img{
	width:200px;
}
#contents .cbDlistLC02 .col dl{
	margin-left:230px;
}
#contents .cbDlistLC03 .col img{
	width:200px;
}
#contents .cbDlistLC03 .col dl{
	margin-left:230px;
}

/* CB-dayli */
#contents .cbDayliC01,
#contents .cbDayliC02{
	margin-top:60px;
}
#contents .cbDayliTl h2,
#contents .cbDayliTl h3,
#contents .cbDayliTl h4,
#contents .cbDayliTl h5{
	font-size:32px;
	line-height:43px;
}
#contents .cbDayliTl .link{
	margin-top:20px;
}
#contents .cbDayliTl + ul{
	margin-top:20px;
}
#contents .cbDayliC01 ul li,
#contents .cbDayliC02 ul li.col{
	border-bottom:solid 2px #bbbcbd;
	font-size:28px;
	line-height:43px;
}
#contents .cbDayliC01 ul li{
	padding:30px 0px;
}
#contents .cbDayliC02 ul li.col{
	padding:30px 0px;
	margin-top:0px !important;
}
#contents .cbDayliC01 ul li .nvOtDay{
	line-height:43px;
	padding-bottom:10px;
}
#contents .cbDayliC02 ul li .nvOtDay{
	line-height:43px;
	padding-bottom:10px;
}
#contents .cbDayliC01 ul li .cbIconPdf,
#contents .cbDayliC01 ul li .cbIconXls,
#contents .cbDayliC01 ul li .link,
#contents .cbDayliC02 ul li .cbIconPdf,
#contents .cbDayliC02 ul li .cbIconXls,
#contents .cbDayliC02 ul li .link{
	margin-top:8px !important;
}
#contents .cbDayliC01 ul li .cbIconPdf .link,
#contents .cbDayliC02 ul li .cbIconPdf .link,
#contents .cbDayliC01 ul li .cbIconXls .link,
#contents .cbDayliC02 ul li .cbIconXls .link{
	margin-top:0px !important;
}
#contents .cbDayliC03{
	margin-top:60px !important;
}
#contents .cbDayliC03 .cbDayliTl{
	font-size:36px;
}
#contents .cbDayliC03 .list{
	padding-left:20px;
	margin-top:25px;
	border-left:solid 4px #e75400;
}
#contents .cbDayliC03 .list tr{
	margin-top:20px;
}
#contents .cbDayliC03 .list td{
	font-size:28px;
	line-height:43px;
}
#contents .cbDayliC03 .list .nvOtDay{
	width:240px;
}
#contents .cbDayliC03 .list .category{
	width:290px;
}

/* CB-Quote */
#contents .cbQuote{
	background-size:21px 42px;
	padding-left:40px;
	margin-top:20px;
	background-position:left 8px;
}
#contents .cbQuote p{
	font-size:44px;
	line-height:58px;
	background-position:100% 6px;
	background-size:21px 42px;
	padding-right:40px;
}

/* CB-Quote-Block */
#contents .cbQuoteBlock{
	background-size:21px 42px;
	padding-left:40px;
	margin-top:20px;
	background-position:left 8px;
}
#contents .cbQuoteBlock > p:first-child{
	font-size:44px;
	line-height:58px;
}
#contents .cbQuoteBlock > p:first-child + *{
	margin-top:40px !important;
}

/* CB-Quote-S */
#contents .cbQuoteS{
	margin:40px 0px 0px;
	padding:30px;
}
#contents .cbQuoteS ul > li > *:first-child{
	margin-top:20px !important;
}
#contents .cbQuoteS ul > li > ul li{
	margin-top:20px;
}

/* CB-bagde */
.cbBadge{
	padding:5px 7px;
	min-width:105px;
	font-size:22px;
	line-height:21px;
	margin-right:20px;
}

/* CB-icon */
#contents .cbIconPdf,
#contents .cbIconXls{
	margin-top:20px;
}
#contents .cbIconPdf .link a,
#contents a.cbIconPdf,
#contents .cbIconXls .link a,
#contents a.cbIconXls{
	padding:2px 0px 2px 35px;
	background-size:26px 28px;
}
#contents .cbIconWin{
	padding-right:30px;
	background-size:14px 12px;
}
#contents .cbIconShowBox{
	margin-top:60px;
}
#contents .cbIconShow{
	width:28px;
	height:28px;
	background-size:28px 28px;
}

/* CB-plugin */
#contents .cbPluginC01{
	margin-top:60px;
}
#contents .cbPluginC02 .col{
	margin-right:0px;
	margin-top:40px;
	width:100%;
}
#contents .cbPluginC02 .col:nth-child(1){
	margin-top:0px;
}
#contents .cbPluginC01 .banner{
	padding-right:0px;
	width:158px;
}
#contents .cbPluginC02 .banner{
	width:158px;
}
#contents .cbPluginC01 .banner a{
	width:158px;
}
#contents .cbPluginC01 p,
#contents .cbPluginC02 p{
	font-size:24px;
	line-height:37px;
}
#contents .cbPluginC01 p{
	margin-top:20px;
}
#contents .cbPluginC02 p{
	margin-top:20px;
}
#contents .cbPluginC01 p a,
#contents .cbPluginC02 p a{
	font-size:24px !important;
	line-height:37px !important;
}

/* CB-table */
#contents .cbTable{
	margin-top:60px;
	padding-bottom:8px;
}
#contents .cbTable table{
	width:1120px;
}
#contents .cbTable th,
#contents .cbTable td{
	font-size:28px;
	line-height:43px;
}
#contents .cbTable th{
	padding:21.33px 20px;
}
#contents .cbTable td{
	padding:20px;
}

/* CB-Others */
#contents .cbOtHr{
	border-top:solid 2px #bbbcbd;
	margin-top:60px;
}
#contents .cbOtWrapper{
	padding:28px 30px;
	margin-top:60px;
}
#contents .cbOtWrapper h2,
#contents .cbOtWrapper h3,
#contents .cbOtWrapper h4,
#contents .cbOtWrapper h5{
	font-size:32px;
	line-height:43px;
}
#contents .cbOtWrappe h3 + *{
	margin-top:14px;
}

/* CB-form */
#contents .cbForm,
#contents .cbFormBtn{
	margin-top:20px;
}
#contents input,
#contents textarea,
#contents select{
	font-size:28px;
	line-height:48px;
}
#contents label.radio,
#contents label.checkbox{
	font-size:28px;
	line-height:48px;
}
#contents label{
	margin-left:100px;
	font-size:28px !important;
	line-height:47px !important;
}
#contents label.radio{
	padding-left:50px;
}
#contents label.radio:before {
	width:26px;
	height:26px;
	border:2px solid #989b9c;
	top:8px;
}
#contents label.radio:after {
	width:16px;
	height:16px;
	left:7px;
	top:15px;
}
#contents label.radio input[type="radio"] {
	width:32px;
	height:32px;
	left:-34px;
	top:8px;
	box-shadow:32px -2px #FFF;
}
#contents label.radio input[type="radio"]:focus {
	box-shadow:32px -2px #FFF;
}
#contents label.checkbox {
	padding-left:50px;
}
#contents label.checkbox:before {
	width:26px;
	height:26px;
	top:7px;
	border:2px solid #989b9c;
}
#contents label.checkbox:after {
	left:9px;
	margin-top:-10px;
	width:8px;
	height:18px;
	border-right:4px solid #e75400;
	border-bottom:4px solid #e75400;
}
#contents label.checkbox input[type="checkbox"] {
	top:4px;
	left:-68px;
	width:34px;
	height:34px;
	box-shadow:70px 0px #FFF;
}
#contents label.checkbox input[type="checkbox"]:checked:focus {
	box-shadow:68px 0px #666;
}
#contents label.checkbox input[type="checkbox"]:focus {
	box-shadow : 70px 0px #EEE;
}
#contents input[type="text"]{
	height:78px;
	border:solid 2px #989b9c;
	padding:24px 24px 20px;
}
#contents .selectBox{
	height:78px;
	padding-right:24px;
	padding-top:16px;
	background-size:45px 15px;
}
#contents textarea{
	border:solid 2px #989b9c;
	padding:24px 24px 20px;
	height:222px;
}
#contents .cbFormBtn{
	padding-top:118px;
}
#contents input[type="submit"],
#contents input[type="reset"],
#contents input[type="button"]{
	font-size:30px;
	padding:8px 0px;
	margin:0px;
}
#contents input[type="submit"]{
	height:98px;
}
#contents input[type="reset"],
#contents input[type="button"]{
	height:78px;
}

/* CB-Download */
#contents .cbDownload{
	margin-top:20px;
}
#contents .cbDownload a,
#contents a.cbDownload{
	font-size:36px;
	line-height:46px;
	padding-right:35px;
	background-size:26px 26px;
	background-position:right center;
}

/* second index */
.categoryTop #main{
	height:320px;
}
.categoryTop .mainImg{
	height:215px;
}
.categoryTop .mainDetail .mainTitle h1{
	font-size:48px;
	line-height:66px;
	padding:30px 40px 15px 78px;
	background-position:40px 37px;
	background-size:26px 49px;
}
.categoryTop .mainDetail .mainTitle p{
	font-size:18px;
	line-height:27px;
	padding:0px 78px 30px 78px;
	top:6px;
}
.categoryTop #container{
	padding-top:50px;
}
.categoryTop #contents h2{
	font-size:44px !important;
	line-height:54px !important;
	background-size:52px 4px;
	padding-bottom:26px;
}
.categoryTop #contents p{
	margin-top:20px;
}
.categoryTop #contents .link{
	margin-top:20px;
}
.categoryTop #contents .clsC02Txt,
.categoryTop #contents .clsC02,
.categoryTop #contents .clsAtnC02,
.categoryTop #contents .clsC03Txt,
.categoryTop #contents .clsC03,
.categoryTop #contents .clsAtnC03,
.categoryTop #contents .cbDayliC01,
.categoryTop #contents .clsC04Txt,
.categoryTop #contents .clsC04{
	margin-top:60px;
}
.categoryTop #contents .clsC02Txt .col,
.categoryTop #contents .clsC02 .col,
.categoryTop #contents .clsAtnC02 .col,
.categoryTop #contents .clsC03Txt .col,
.categoryTop #contents .clsC03 .col,
.categoryTop #contents .clsAtnC03 .col,
.categoryTop #contents .clsC04Txt .col,
.categoryTop #contents .clsC04 .col{
	margin-right:0px;
	margin-top:60px;
}
.categoryTop #contents .cbDayliC02 ul li{
	margin-right:0px;
	margin-top:0px;
}
.categoryTop #contents .clsC02Txt .col:first-child,
.categoryTop #contents .clsC02 .col:first-child,
.categoryTop #contents .clsAtnC02 .col:first-child,
.categoryTop #contents .clsC03Txt .col:first-child,
.categoryTop #contents .clsC03 .col:first-child,
.categoryTop #contents .clsAtnC03 .col:first-child,
.categoryTop #contents .clsC04Txt .col:first-child,
.categoryTop #contents .clsC04 .col:first-child{
	margin-top:0px;
}
.categoryTop #contents .tlH2Add h2{
	padding-right:0px;
}
.categoryTop #contents .tlH2Add + *{
	margin-top:40px !important;
}
.categoryTop #contents .clsC02 .col h2,
.categoryTop #contents .clsC03 .col h2,
.categoryTop #contents .clsAtnC02 .col h2,
.categoryTop #contents .clsAtnC03 .col h2{
	margin-top:30px;
}
.categoryTop #contents .clsC04Txt .col h3,
.categoryTop #contents .clsC04 .col h3,
.categoryTop #contents .clsC04Txt .col h4,
.categoryTop #contents .clsC04 .col h4{
	font-size:32px;
	line-height:43px;
}

/* third index */
.thirdTop #contents > *{
	width:560px;
}
.thirdTop #contents > .section:nth-child(2) .hl01{
	width:560px;
}
.thirdTop #contents .kv01InTl .tlH1{
	font-size:56px !important;
	line-height:56px !important;
	padding:8px 40px 16px 37px;
	background-position:left 6px;
	background-size:26px 52px;
}
.thirdTop #contents .kv01InTl p{
	font-size:28px;
	line-height:43px;
}
.thirdTop #contents > .section:nth-child(3){
	margin-top:40px;
}
.thirdTop #contents .hl01 + .col2{
	margin-top:60px !important;
}

/* typeDynamic */
.typeDynamic #contents .col2,
.typeDynamic #contents .col3,
.typeDynamic #contents .cbDayliC01,
.typeDynamic #contents .col4{
	margin-top:60px;
}
.typeDynamic #contents .col2 .col,
.typeDynamic #contents .col3 .col,
.typeDynamic #contents .col4 .col{
	margin-right:0px;
	margin-top:60px;
}
.typeDynamic #contents .cbDayliC02 ul li{
	margin-right:0px;
	margin-top:0px;
}
.typeDynamic #contents .col2 .col:first-child,
.typeDynamic #contents .col3 .col:first-child,
.typeDynamic #contents .col04 .col:first-child{
	margin-top:0px;
}

/* more link */
.link{
	font-size:26px;
	line-height:43px;
}

/* side */
.typeDynamic #side,
.typeToC #side{
	margin-top:100px !important;
}
.typeDynamic #side{
	padding-bottom:100px;
}
.typeDynamic #side h2{
	width:560px;
	font-size:44px;
	line-height:59px;
	margin-bottom:70px;
}
.typeToC #side h2{
	font-size:44px;
	line-height:59px;
	margin-bottom:70px;
}
.typeDynamic #side .sideNavi{
	width:560px;
}
.typeDynamic #side .sideNavi > li,
.typeToC #side .sideNavi > li{
	margin-top:36px !important;
	font-size:30px;
	line-height:45px;
}
.typeDynamic #side .sideNavi > li:nth-child(-n+3),
.typeToC #side .sideNavi > li:nth-child(-n+3){
	margin-top:36px !important;
}
.typeDynamic #side .sideNavi > li:first-child,
.typeToC #side .sideNavi > li:first-child{
	margin-top:0px !important;
}
.typeDynamic #side .sideNavi > li > ul,
.typeToC #side .sideNavi > li > ul{
	margin-top:36px !important;
}
.typeDynamic #side .sideNavi > li > ul li,
.typeToC #side .sideNavi > li > ul li{
	font-size:28px;
	line-height:43px;
}
.typeDynamic #side .sideNavi > li > ul li a,
.typeToC #side .sideNavi > li > ul li a{
	padding-top:20px;
	padding-bottom:10px;
	padding-left:30px;
	border-left: solid 4px #666464 !important;
}
.typeDynamic #side .sideNavi > li > ul li a:hover,
.typeToC #side .sideNavi > li > ul li a:hover{
	border-left: solid 4px #e75400 !important;
}

/* frlLinkList / frlLinkList02 */
.frlLinkList,
.frlLinkList02{
	margin-top:60px;
	padding:22px;
}
#contents .frlLinkList h3,
#contents .frlLinkList02 h3{
	font-size:30px;
	line-height:40px;
}
#contents .frlLinkList h3 + *,
#contents .frlLinkList02 h3 + *{
	margin-top:20px !important;
}
#contents .frlLinkList .col2 .col,
#contents .frlLinkList02 .col2 .col,
#contents .frlLinkList .col3 .col,
#contents .frlLinkList02 .col3 .col{
	margin-top:60px;
}
#contents .frlLinkList .col2 .col:nth-child(2),
#contents .frlLinkList02 .col2 .col:nth-child(2),
#contents .frlLinkList .col3 .col:nth-child(2),
#contents .frlLinkList .col3 .col:nth-child(3),
#contents .frlLinkList02 .col3 .col:nth-child(2),
#contents .frlLinkList02 .col3 .col:nth-child(3){
	margin-top:60px;
}
.frlLinkList .cllOtC02 .col a + *,
.frlLinkList .cllOtC03 .col a + *{
	margin-top:20px !important;
}
.frlLinkList ul li{
	font-size:28px;
	line-height:43px;
	margin-top:20px;
	margin-left:31.488px;
	margin-right:40px;
	margin-bottom: -100px;
	padding-bottom: 100px;
	width:204px;
}
.frlLinkList ul li:nth-child(3){
	margin-top:20px;
}
.frlLinkList ul li:nth-child(3n){
	margin-right:40px;
}

#white.loading{
	background-size:55px 55px;
}